## Minimum Data Elements

An origin declaration that is the basis for a claim for preferential tariff treatment under the United Kingdom-New Zealand Agreement shall include the following elements:

## Entity Name: Exporter or Producer

Provide the name of the person or entity completing the declaration and indicate whether the origin declaration is being made by the exporter or producer of the good.

## Signatory

Exporter: If the exporter is making out the declaration, provide the name of the signatory and contact details. Also provide the name and contact details of the exporter (noting that the signatory may be the same as the exporter e.g. if the exporter is an individual).

Producer: If the producer is different from the exporter and if the producer is not making out the declaration, provide the name and contact details of the producer. If the producer is making out the declaration, provide the name of the signatory and contact details and (if different) provide the name of the producer and contact details.

## Exporter’s Name and Address

If different from the Authorised Person, state the name and address (including country), telephone number, and email address of the exporter. The address of the exporter must be in the exporting Party. This information is not required if the producer is completing the origin declaration and does not know the identity of the exporter.

## Producer’s Name and Address

(a)	If different from the Authorised Person, state the name and address (including country), telephone number, and email address of the producer;

(b)	If different from the certifier or exporter or, if there are multiple producers, state “Various” or provide a list of producers. A person that wishes for this information to remain confidential may state “Available upon request by the importing authorities”; and

(c)	The address of a producer must be the place of production of the good in a Party.

## Importer’s Name and Address

State, if known, the name and address (including country), telephone number, and email address of the importer. The address of the importer must be located in the territory of a Party.

## Exporter Reference Number (for United Kingdom exporters and producers only)

(a)	If the origin declaration is completed by an exporter located in the territory of the United Kingdom, provide the exporter reference number assigned in accordance with the laws and regulations of the United Kingdom. Where the exporter has not been assigned an exporter reference number, this information does not need to be provided; or

(b)	If the origin declaration is completed by a producer in the United Kingdom, provide the exporter reference number assigned in accordance with the laws and regulations of the United Kingdom. Where the producer has not been assigned an exporter reference number, this information does not need to be provided.

## Description and HS Tariff Classification of the Good

(a)	Provide a description of the good and the HS tariff classification of the good to the six-digit level. The description should be sufficient to relate it to the good covered by the origin declaration; and

(b)	If the origin declaration covers a single shipment of a good, indicate, if applicable, the invoice number related to the exportation.

## Origin Criterion

Specify the rule of origin under which the good qualifies.

## Period for Origin Declaration to Apply (for multiple importations of identical goods)

If the origin declaration covers multiple shipments of identical goods for a specified period of up to 12 months from the date of declaration, as set out in Article 18 (Origin Declaration), state the period during which those shipments will be made.

## Date and Signature

The origin declaration must be signed, dated, and accompanied by the following statement:

The exporter/producer certifies that the goods described in this document qualify as originating and the information contained in this document is true and accurate. The exporter/producer assumes responsibility for proving such representations and agrees to maintain and present upon request, or to make available during a verification visit, documentation necessary to support this origin declaration.
