## Proof of Origin

1. Products originating in the UK, on importation into Canada, and products originating in Canada, on importation into the UK, benefit from preferential tariff treatment of the United Kingdom-Canada Agreement on the basis of a declaration (‘origin declaration’).

2. The origin declaration is provided on an invoice or any other commercial document that describes the originating product in sufficient detail to enable its identification.

3. The different linguistic versions of the text of the origin declaration are set out in Annex 2.

## Obligations Regarding Exportations

1. An origin declaration as referred to in Article 18.1 shall be completed:
   1. in the UK, by an exporter in accordance with requirements pursuant to the Taxation (Cross-border Trade) Act 2018, (c. 22); and

   2. in Canada, by an exporter in accordance with Part V of the Customs Act, R.S.C., 1985, c. 1 (2nd Supp.).

2. The exporter completing an origin declaration shall at the request of the customs authority of the Party of export submit a copy of the origin declaration and all appropriate documents proving the originating status of the products concerned, including supporting documents or written statements from the producers or suppliers, and fulfil the other requirements of this Origin Reference Document.

3. An origin declaration shall be completed and signed by the exporter unless otherwise provided.

4. A Party may allow an origin declaration to be completed by the exporter when the products to which it relates are exported, or after exportation if the origin declaration is presented in the importing Party within two years after the importation of the products to which it relates or within a longer period of time if specified in the laws of the importing Party.

5. The customs authority of the Party of import may allow the application of an origin declaration to multiple shipments of identical originating products that take place within a period of time that does not exceed 12 months as set out by the exporter in that declaration.

6. An exporter that has completed an origin declaration and becomes aware or has reason to believe that the origin declaration contains incorrect information shall immediately notify the importer in writing of any change affecting the originating status of each product to which the origin declaration applies.

7. The Parties may allow the establishment of a system that permits an origin declaration to be submitted electronically and directly from the exporter in the territory of a Party to an importer in the territory of the other Party, including the replacement of the exporter's signature on the origin declaration with an electronic signature or identification code.

## Validity of Origin Declaration

1. An origin declaration shall be valid for 12 months from the date it was completed by the exporter, or for such longer period of time as provided by the Party of import. The preferential tariff treatment may be claimed, within this validity period, to the customs authority of the Party of import.

2. The Party of import may accept an origin declaration submitted to its customs authority after the validity period referred to in paragraph 1 for the purpose of preferential tariff treatment in accordance with that Party's laws.

## Obligations Regarding Importations

1. For the purpose of claiming preferential tariff treatment, the importer shall:

   1. submit the origin declaration to the customs authority of the Party of import as required by and in accordance with the procedures applicable in that Party;

   2. if required by the customs authority of the Party of import, submit a translation of the origin declaration; and

   3. if required by the customs authority of the Party of import, provide for a statement accompanying or forming a part of the import declaration, to the effect that the products meet the conditions required for the application of the United Kingdom-Canada Agreement.

2. An importer that becomes aware or has reason to believe that an origin declaration for a product to which preferential tariff treatment has been granted contains incorrect information shall immediately notify the customs authority of the Party of import in writing of any change affecting the originating status of that product and pay any duties owing.

3. When an importer claims preferential tariff treatment for a good imported from the territory of the other Party, the importing Party may deny preferential tariff treatment to the good if the importer fails to comply with any requirement under this Origin Reference Document.

4. A Party shall, in conformity with its laws, provide that, if a product would have qualified as an originating product when it was imported into the territory of that Party but the importer did not have an origin declaration at the time of importation, the importer of the product may, within a period of time of no less than three years after the date of importation, apply for a refund of duties paid as a result of the product not having been accorded preferential tariff treatment.

{{ Articles 18 to 21 }}
