{
  "openapi": "3.0.1",
  "info": {
    "title": "UK Trade Tariff API V3",
    "version": "v3",
    "description": "GOV.UK Online Trade Tariff API V3. Flat JSON responses designed for third-party developers and LLM/AI agents. No JSONAPI envelope. Anonymous access - no authentication required. Version negotiated via Accept header (application/vnd.hmrc.3.0+json) or URL path prefix (/uk/api/v3/).",
    "contact": {
      "name": "Trade Tariff Support",
      "url": "https://www.trade-tariff.service.gov.uk"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://www.trade-tariff.service.gov.uk/uk",
      "description": "Production (UK Global Tariff)"
    },
    {
      "url": "https://www.trade-tariff.service.gov.uk/xi",
      "description": "Production (Northern Ireland Tariff)"
    }
  ],
  "components": {
    "schemas": {
      "error_response": {
        "type": "object",
        "required": [
          "error",
          "message",
          "status"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "meta": {
        "type": "object",
        "required": [
          "total"
        ],
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of items in the collection"
          }
        }
      }
    }
  },
  "paths": {
    "/api/v3/certificate_types": {
      "get": {
        "summary": "List all certificate types",
        "tags": [
          "Certificates"
        ],
        "operationId": "listCertificateTypesV3",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "certificate types listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "certificate_type_code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "validity_start_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "validity_end_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/certificates": {
      "get": {
        "summary": "List all certificates",
        "tags": [
          "Certificates"
        ],
        "operationId": "listCertificatesV3",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "certificates listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "certificate_type_code": {
                            "type": "string"
                          },
                          "certificate_code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "validity_start_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "validity_end_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/chapters/{id}": {
      "get": {
        "summary": "Retrieve a chapter",
        "tags": [
          "Chapters"
        ],
        "operationId": "getChapterV3",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Two-digit chapter number (e.g. 01, 99)",
            "schema": {
              "type": "string",
              "example": "01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "chapter found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "goods_nomenclature_sid",
                    "goods_nomenclature_item_id"
                  ],
                  "properties": {
                    "goods_nomenclature_sid": {
                      "type": "integer"
                    },
                    "goods_nomenclature_item_id": {
                      "type": "string",
                      "example": "0100000000"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "formatted_description": {
                      "type": "string",
                      "nullable": true
                    },
                    "validity_start_date": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "validity_end_date": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "chapter_note": {
                      "type": "string",
                      "nullable": true
                    },
                    "section_id": {
                      "type": "integer",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "chapter not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/chapters/{id}/headings": {
      "get": {
        "summary": "List headings in a chapter",
        "tags": [
          "Chapters"
        ],
        "operationId": "listChapterHeadingsV3",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Two-digit chapter number",
            "schema": {
              "type": "string",
              "example": "01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "headings listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "goods_nomenclature_sid": {
                            "type": "integer"
                          },
                          "goods_nomenclature_item_id": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "formatted_description": {
                            "type": "string",
                            "nullable": true
                          },
                          "validity_start_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "validity_end_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/commodities/{id}": {
      "get": {
        "summary": "Retrieve a commodity",
        "tags": [
          "Commodities"
        ],
        "operationId": "getCommodityV3",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Ten-digit commodity code",
            "schema": {
              "type": "string",
              "example": "0101210010"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "commodity found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "goods_nomenclature_sid",
                    "goods_nomenclature_item_id",
                    "declarable"
                  ],
                  "properties": {
                    "goods_nomenclature_sid": {
                      "type": "integer"
                    },
                    "goods_nomenclature_item_id": {
                      "type": "string"
                    },
                    "producline_suffix": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "formatted_description": {
                      "type": "string",
                      "nullable": true
                    },
                    "description_plain": {
                      "type": "string",
                      "nullable": true
                    },
                    "number_indents": {
                      "type": "integer",
                      "nullable": true
                    },
                    "bti_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "consigned_from": {
                      "type": "string",
                      "nullable": true
                    },
                    "validity_start_date": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "validity_end_date": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "has_chemicals": {
                      "type": "boolean"
                    },
                    "declarable": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "commodity not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/commodities/{id}/measures": {
      "get": {
        "summary": "List measures on a commodity",
        "tags": [
          "Commodities"
        ],
        "operationId": "listCommodityMeasuresV3",
        "produces": [
          "application/json"
        ],
        "description": "Returns import and export measures applicable to this commodity on the current date. Use ?as_of=YYYY-MM-DD for a historic date.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Ten-digit commodity code",
            "schema": {
              "type": "string",
              "example": "0101210010"
            }
          },
          {
            "name": "as_of",
            "in": "query",
            "required": false,
            "description": "Date to evaluate measures against (ISO 8601). Defaults to today.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "measures listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "import_measures",
                    "export_measures",
                    "meta"
                  ],
                  "properties": {
                    "import_measures": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "effective_start_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "effective_end_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "excise": {
                            "type": "boolean"
                          },
                          "vat": {
                            "type": "boolean"
                          },
                          "reduction_indicator": {
                            "type": "integer",
                            "nullable": true
                          },
                          "measure_type_id": {
                            "type": "string"
                          },
                          "geographical_area_id": {
                            "type": "string"
                          },
                          "additional_code": {
                            "type": "string",
                            "nullable": true
                          },
                          "order_number": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "export_measures": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "effective_start_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "effective_end_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "excise": {
                            "type": "boolean"
                          },
                          "vat": {
                            "type": "boolean"
                          },
                          "reduction_indicator": {
                            "type": "integer",
                            "nullable": true
                          },
                          "measure_type_id": {
                            "type": "string"
                          },
                          "geographical_area_id": {
                            "type": "string"
                          },
                          "additional_code": {
                            "type": "string",
                            "nullable": true
                          },
                          "order_number": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/exchange_rates": {
      "get": {
        "summary": "List exchange rate periods",
        "tags": [
          "Exchange Rates"
        ],
        "operationId": "listExchangeRatesV3",
        "produces": [
          "application/json"
        ],
        "description": "Returns available exchange rate periods. UK service only. Use the year and type parameters to filter.",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Filter by year",
            "schema": {
              "type": "integer",
              "example": 2024
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Exchange rate type",
            "schema": {
              "type": "string",
              "enum": [
                "monthly",
                "spot",
                "average"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "exchange rate periods listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "year": {
                            "type": "integer"
                          },
                          "month": {
                            "type": "integer",
                            "nullable": true
                          },
                          "has_exchange_rates": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/footnote_types": {
      "get": {
        "summary": "List all footnote types",
        "tags": [
          "Footnotes"
        ],
        "operationId": "listFootnoteTypesV3",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "footnote types listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "footnote_type_id": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "application_code": {
                            "type": "integer",
                            "nullable": true
                          },
                          "validity_start_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "validity_end_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/footnotes": {
      "get": {
        "summary": "List all footnotes",
        "tags": [
          "Footnotes"
        ],
        "operationId": "listFootnotesV3",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "footnotes listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "footnote_type_id": {
                            "type": "string"
                          },
                          "footnote_id": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "validity_start_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "validity_end_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/geographical_areas": {
      "get": {
        "summary": "List all geographical areas",
        "tags": [
          "Geographical Areas"
        ],
        "operationId": "listGeographicalAreasV3",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "areas listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/geographical_areas/{id}": {
      "get": {
        "summary": "Retrieve a geographical area",
        "tags": [
          "Geographical Areas"
        ],
        "operationId": "getGeographicalAreaV3",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Geographical area ID (ISO country code or group ID)",
            "schema": {
              "type": "string",
              "example": "GB"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "area found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "geographical_area_sid",
                    "geographical_area_id"
                  ],
                  "properties": {
                    "geographical_area_sid": {
                      "type": "integer"
                    },
                    "geographical_area_id": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "geographical_code": {
                      "type": "string",
                      "nullable": true
                    },
                    "validity_start_date": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "validity_end_date": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "area not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/headings/{id}": {
      "get": {
        "summary": "Retrieve a heading",
        "tags": [
          "Headings"
        ],
        "operationId": "getHeadingV3",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Four-digit heading code",
            "schema": {
              "type": "string",
              "example": "0101"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "heading found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "goods_nomenclature_sid",
                    "goods_nomenclature_item_id"
                  ],
                  "properties": {
                    "goods_nomenclature_sid": {
                      "type": "integer"
                    },
                    "goods_nomenclature_item_id": {
                      "type": "string",
                      "example": "0101000000"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "formatted_description": {
                      "type": "string",
                      "nullable": true
                    },
                    "validity_start_date": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "validity_end_date": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "declarable": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "heading not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/headings/{id}/commodities": {
      "get": {
        "summary": "List commodities under a heading",
        "tags": [
          "Headings"
        ],
        "operationId": "listHeadingCommoditiesV3",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Four-digit heading code",
            "schema": {
              "type": "string",
              "example": "0101"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "commodities listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "goods_nomenclature_sid": {
                            "type": "integer"
                          },
                          "goods_nomenclature_item_id": {
                            "type": "string"
                          },
                          "producline_suffix": {
                            "type": "string",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "formatted_description": {
                            "type": "string",
                            "nullable": true
                          },
                          "number_indents": {
                            "type": "integer",
                            "nullable": true
                          },
                          "validity_start_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "validity_end_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "declarable": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/measure_types": {
      "get": {
        "summary": "List all measure types",
        "tags": [
          "Measure Types"
        ],
        "operationId": "listMeasureTypesV3",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "measure types listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "description"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "measure_type_series_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "measure_type_series_description": {
                            "type": "string",
                            "nullable": true
                          },
                          "measure_component_applicable_code": {
                            "type": "integer",
                            "nullable": true
                          },
                          "order_number_capture_code": {
                            "type": "integer",
                            "nullable": true
                          },
                          "trade_movement_code": {
                            "type": "integer",
                            "nullable": true
                          },
                          "validity_start_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "validity_end_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/measure_types/{id}": {
      "get": {
        "summary": "Retrieve a measure type",
        "tags": [
          "Measure Types"
        ],
        "operationId": "getMeasureTypeV3",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Measure type ID",
            "schema": {
              "type": "string",
              "example": "103"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "measure type found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "description"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "measure_type_series_id": {
                      "type": "string",
                      "nullable": true
                    },
                    "measure_type_series_description": {
                      "type": "string",
                      "nullable": true
                    },
                    "measure_component_applicable_code": {
                      "type": "integer",
                      "nullable": true
                    },
                    "order_number_capture_code": {
                      "type": "integer",
                      "nullable": true
                    },
                    "trade_movement_code": {
                      "type": "integer",
                      "nullable": true
                    },
                    "validity_start_date": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "validity_end_date": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "measure type not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/quota_order_numbers": {
      "get": {
        "summary": "List all quota order numbers",
        "tags": [
          "Quotas"
        ],
        "operationId": "listQuotaOrderNumbersV3",
        "produces": [
          "application/json"
        ],
        "description": "Returns quota order numbers. Useful for looking up quota identifiers before fetching quota details.",
        "responses": {
          "200": {
            "description": "quota order numbers listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/reports": {
      "get": {
        "summary": "List available reports",
        "tags": [
          "Reports"
        ],
        "operationId": "listReportsV3",
        "produces": [
          "application/json"
        ],
        "description": "Extensible reports namespace. Returns the list of available reports. Currently empty - reports will be added incrementally.",
        "responses": {
          "200": {
            "description": "reports listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {},
                      "description": "Available reports (empty at launch)"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/search": {
      "get": {
        "summary": "Search the tariff",
        "tags": [
          "Search"
        ],
        "operationId": "searchV3",
        "produces": [
          "application/json"
        ],
        "description": "Full-text search across commodity codes, chapter and heading descriptions. Returns ranked results. Powered by OpenSearch.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search query string",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/sections": {
      "get": {
        "summary": "List all sections",
        "tags": [
          "Sections"
        ],
        "operationId": "listSectionsV3",
        "produces": [
          "application/json"
        ],
        "description": "Returns all tariff sections. Sections group chapters into broad categories of goods.",
        "responses": {
          "200": {
            "description": "sections listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "numeral",
                          "title",
                          "position"
                        ],
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "numeral": {
                            "type": "string",
                            "example": "I"
                          },
                          "title": {
                            "type": "string"
                          },
                          "position": {
                            "type": "integer"
                          },
                          "chapter_from": {
                            "type": "string",
                            "nullable": true
                          },
                          "chapter_to": {
                            "type": "string",
                            "nullable": true
                          },
                          "section_note": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/sections/{id}": {
      "get": {
        "summary": "Retrieve a section",
        "tags": [
          "Sections"
        ],
        "operationId": "getSectionV3",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Section position number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "section found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "numeral",
                    "title",
                    "position"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "numeral": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "position": {
                      "type": "integer"
                    },
                    "chapter_from": {
                      "type": "string",
                      "nullable": true
                    },
                    "chapter_to": {
                      "type": "string",
                      "nullable": true
                    },
                    "section_note": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "section not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/sections/{id}/chapters": {
      "get": {
        "summary": "List chapters in a section",
        "tags": [
          "Sections"
        ],
        "operationId": "listSectionChaptersV3",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Section position number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "chapters listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "goods_nomenclature_sid": {
                            "type": "integer"
                          },
                          "goods_nomenclature_item_id": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "formatted_description": {
                            "type": "string",
                            "nullable": true
                          },
                          "validity_start_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "validity_end_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/subheadings/{id}": {
      "get": {
        "summary": "Retrieve a subheading",
        "tags": [
          "Subheadings"
        ],
        "operationId": "getSubheadingV3",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Ten-digit goods nomenclature item ID for a non-declarable subheading",
            "schema": {
              "type": "string",
              "example": "0101210000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "subheading found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "goods_nomenclature_sid",
                    "goods_nomenclature_item_id"
                  ],
                  "properties": {
                    "goods_nomenclature_sid": {
                      "type": "integer"
                    },
                    "goods_nomenclature_item_id": {
                      "type": "string"
                    },
                    "producline_suffix": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "formatted_description": {
                      "type": "string",
                      "nullable": true
                    },
                    "number_indents": {
                      "type": "integer",
                      "nullable": true
                    },
                    "validity_start_date": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "validity_end_date": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "declarable": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "subheading not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/subheadings/{id}/commodities": {
      "get": {
        "summary": "List commodities under a subheading",
        "tags": [
          "Subheadings"
        ],
        "operationId": "listSubheadingCommoditiesV3",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Ten-digit subheading item ID",
            "schema": {
              "type": "string",
              "example": "0101210000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "commodities listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "goods_nomenclature_sid": {
                            "type": "integer"
                          },
                          "goods_nomenclature_item_id": {
                            "type": "string"
                          },
                          "producline_suffix": {
                            "type": "string",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "formatted_description": {
                            "type": "string",
                            "nullable": true
                          },
                          "number_indents": {
                            "type": "integer",
                            "nullable": true
                          },
                          "validity_start_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "validity_end_date": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "declarable": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
