.git
.github

*.log
log

tmp
.data

storage

public/assets
.byebug_history

config/master.key

public/packs
public/packs-test
node_modules
vendor/bundle
yarn-debug.log*
.yarn-integrity

.env
.env.*
.foreman
.rspec
.rspec

spec
.circleci
.github
bin
coverage
data
docs
.bundler-audit.yml
.cfignore
.editorconfig

.gitignore
.rspec
.rubocop.yml
.sample.env
.snyk
.solargraph.yml
.tool-versions

CHANGELOG
CHANGELOG.old
CONTRIBUTING
docker-compose.yml
Dockerfile
LICENCE.txt
manifest.yml
