*.log
.byebug_history
.data
.devcontainer
.direnv
.editorconfig
.env
.env.development
.env.test
.gemrc
.git
.github
.gitignore
.markdownlint.yaml
.nix
.pre-commit-config.yaml
.rspec
.rubocop.yml
.ruby-lsp
.tool-versions
.yarn-integrity
CODEOWNERS
Dockerfile
LICENCE.txt
Makefile
Procfile.dev
README.md
config/master.key
coverage
ctrf
docs
flake.lock
flake.nix
log
spec
terraform
tmp
vendor/bundle
