# Ignore bundler config.
/.bundle
vendor/*

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/*
.byebug_history
/spec/support/examples.txt

# Local tariff files
data/*/*
data/failed-measures-report*

# Environment files
.env
.env*.local

# Cloud Foundry manifest files
*_manifest.yml
cf-ssh.yml

# Other files
config/trade_tariff_backend_secrets.yml
*.DS_Store
/coverage/*
.idea/*
REVISION
searches_without_match_or_synonym.csv

# RVM
.ruby-gemset

/public/pdf
/.vscode

.nvimlog

# Ignore all json files in the cds dump directory
/data/cds_dumps/*.json

# Ignore all database dumps, but keep db/structure
*.psql
*.psql.gz
*.sql
*.sql.gz
!db/structure.sql

# Ignore Green Lanes categorisation data for now
/data/green_lanes/categories.json

.direnv
.envrc

/config/master.key
/ctrf

# Reporting ignores

category_assessments_*.json
category_assessments_*.zip
commodities_*.csv
declarable_commodities_with_duty_measures_*.xlsx
declarable_commodities_with_prohibition_measures_*.xlsx
delta_report_*.xlsx
differences.xlsx
differences_*.xlsx
geographical_area_groups_*.xlsx
supplementary_units_*.csv
tariff_data_basic_*.csv

.claude/
