---
repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.97.3
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
      - id: terraform_tflint
      - id: terraform_docs
        args:
          - --hook-config=--add-to-existing-file=true
          - --hook-config=--path-to-file=README.md
          - --hook-config=--create-file-if-not-exist=true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^db/
      - id: end-of-file-fixer
        exclude: ^db/
      - id: check-yaml
        exclude: ^db/|config/sidekiq.yml

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]

  - repo: https://github.com/zahorniak/pre-commit-circleci.git
    rev: v1.1.0
    hooks:
      - id: circleci_validate
        args:
          - --org-id=da607531-93bb-4321-90ed-08710434ce1c

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.23.3
    hooks:
      - id: gitleaks

  - repo: https://github.com/mattlqx/pre-commit-ruby
    rev: v1.3.6
    hooks:
      - id: rubocop
        args: ["--auto-correct"]
