## Verification of proof of origin

1. Subsequent verifications of proof of origin shall be carried out on the basis of a risk analysis, by random sampling or whenever the customs authorities of the importing country have reasonable doubts as to the authenticity of such documents, the originating status of the products concerned or compliance with the other requirements of this Origin Reference Document.

2. For the purposes of implementing paragraph 1 of this Article, the customs authorities of the importing country shall return the movement certificate EUR.1 and the invoice, if it has been submitted, the origin declaration, or a copy of these documents, to the customs authorities of the exporting country giving, where appropriate, the reasons for the request for verification. Any documents and information obtained suggesting that the information given on the proof of origin is incorrect shall be forwarded in support of the request for verification.

3. The verification shall be carried out by the customs authorities of the exporting country. For that purpose, they shall have the right to call for any evidence and to carry out any inspection of the exporter's accounts or any other check considered appropriate.

4. If the customs authorities of the importing country decide to suspend the granting of preferential treatment to the products concerned while awaiting the results of the verification, release of the products shall be offered to the importer subject to any precautionary measures deemed necessary.

5. The customs authorities requesting the verification shall be informed of the results thereof as soon as possible. Those results must indicate clearly whether the documents are authentic and whether the products concerned can be considered as products originating in Côte d'Ivoire, in the United Kingdom or in one of the other countries referred to in Articles 6, 7 and 8 of this Origin Reference Document and fulfil the other requirements of this Origin Reference Document.

6. If in cases of reasonable doubt there is no reply within ten (10) months of the date of the verification request or if the reply does not contain sufficient information to determine the authenticity of the document in question or the real origin of the products, the requesting customs authorities shall, except in exceptional circumstances, refuse entitlement to the preferences.

7. The Parties shall refer to Article 7 of Protocol 1 to the United Kingdom-Côte d'Ivoire Agreement on mutual administrative assistance in customs matters for joint investigations concerning proof of origin.

## Verification of suppliers' declarations

1. Verification of suppliers' declarations shall be carried out on the basis of risk analysis, by random sampling or whenever the customs authorities of the country where such declarations have been taken into account to issue a movement certificate EUR.1 or to make out an origin declaration have reasonable doubts as to the authenticity of the document or the accuracy of the information given in this document.

2. The customs authorities to which a supplier's declaration is submitted may request the customs authorities of the State where the declaration was made out to issue an information certificate, a specimen of which appears in Annex VI to this Origin Reference Document. Alternatively, the certifying authorities to which a supplier's declaration is submitted may request that the exporter produce an information certificate issued by the customs authorities of the State where the declaration was made out. A copy of the information certificate shall be preserved by the office which has issued it for at least three (3) years.

3. The customs authorities requesting the verification shall be informed of the results thereof as soon as possible. The results must indicate clearly whether the information given in the supplier's declaration is correct and make it possible for them to determine whether and to what extent this supplier's declaration could be taken into account for issuing a movement certificate EUR.1 or for making out an origin declaration.

4. The verification shall be carried out by the customs authorities of the country where the supplier's declaration was made out. For this purpose, they shall have the right to call for any evidence or to carry out any inspection of the supplier's account or any other check which they consider appropriate in order to verify the accuracy of the supplier's declaration.

5. Any movement certificate EUR.1 or origin declaration issued or made out on the basis of an inaccurate supplier's declaration shall be considered null and void.

{{ Articles 35 and 36 }}
