## Origin Declaration

For the purpose of obtaining preferential tariff treatment in the importing Party, a proof of origin in the form of an origin declaration in accordance with Appendix 4 to this Annex must be completed by an exporter in a Party for products originating in any Party and otherwise fulfilling the requirements of this Annex.

The origin declaration must be made out using one of the linguistic versions of the text set out in Appendix 4 to this Annex on an invoice or on any other commercial document that describes the originating product in sufficient detail to enable its identification. The importing Party shall not require the importer to submit a translation of the origin declaration.

The origin declaration shall bear the original signature of the exporter or the authorised representative under the exporter’s responsibility.

Notwithstanding paragraph 3, the Parties shall allow:


1. the use of electronic signatures or identification codes pursuant to paragraph 5 for exporters in the United Kingdom; and

2. authorisation numbers pursuant to Article 20 (Approved Exporter) for exporters in Iceland or Norway.

Each Party shall permit an origin declaration to be sent electronically and directly from the exporter in one Party to an importer in the other Party. Such an approach will allow the use of electronic signatures or identification codes.

The origin declaration may be completed when the products to which it relates are exported, or after exportation. An origin declaration shall be valid one year from the date of completion, or for such longer period as may be provided by the importing Party.

An origin declaration may apply to multiple shipments of identical products imported into a Party within the period specified in the origin declaration, which shall not exceed 12 months.

Notwithstanding paragraph 1, the Parties may allow forwarding agents, customs brokers and other persons to complete an origin declaration. In such cases, such persons must be empowered in writing by the exporter of the product to complete origin declarations. They must submit the said authorisation to the competent authorities, at their request.

An exporter who has completed an origin declaration must keep a copy of the origin declaration and all documents supporting the originating status of the product, in paper or electronic form, for at least three years from the date of completion.

If an exporter has completed an origin declaration for a product referred to in paragraph 2 of Article 8 (Cumulation), the exporter must possess a completed and signed supplier’s declaration in accordance with Appendix 5 to this Annex or Appendix 6 to this Annex from the supplier of the non-originating materials used in the production of the product. The customs authority of the exporting Party may, subject to its domestic requirements, allow the supplier’s declaration to be completed without signature.

## Approved Exporter

The customs authorities of Iceland or Norway may, subject to domestic requirements, authorise an exporter of that Party (hereinafter referred to as “approved exporter”) to complete origin declarations without signature.

An exporter who requests such authorisation must offer to the satisfaction of the customs authorities of Iceland or Norway all guarantees necessary to verify the originating status of the products as well as the fulfilment of any other requirement under this Annex.

The customs authorities of Iceland or Norway shall provide, to the approved exporter, an authorisation number to be included in the origin declaration instead of the signature.

The customs authorities of Iceland or Norway shall monitor the proper use of an authorisation and may withdraw it if the exporter no longer meets the conditions or otherwise makes improper use of it.

{{ Articles 19 and 20 }}
