<p style='font-size:14px;color:#000;font-family:Calibri,Arial,sans-serif;'>Hello,</p>
<p style='font-size:14px;color:#000;font-family:Calibri,Arial,sans-serif;'>Please note that as of <%= @updated_date %>, a new set of data, potentially relevant to the Windsor Framework has been created. The details are provided in the table below.</p>
<table style='border-collapse:collapse;width:75%;max-width:800px;font-family:Calibri,Arial,sans-serif;font-size:14px;'>
  <thead>
  <tr>
    <th style='border:1px solid #000;padding:8px;text-align:left;'>Measure Type ID</th>
    <th style='border:1px solid #000;padding:8px;text-align:left;'>Regulation ID</th>
    <th style='border:1px solid #000;padding:8px;text-align:left;'>Regulation Role</th>
  </tr>
  </thead>
  <tbody>
  <% @updates.each do |update| %>
    <tr>
      <td style='border:1px solid #000;padding:8px;'><%= update.measure_type_id %></td>
      <td style='border:1px solid #000;padding:8px;'><%= update.regulation_id %></td>
      <td style='border:1px solid #000;padding:8px;'><%= update.regulation_role %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<p style='font-size:14px;color:#000;font-family:Calibri,Arial,sans-serif;'>We advise you to assess the impact of these new data points on the categorisation of trades. Should any changes need to be made to the underlying data supporting the categorisation process, you will need to access the admin dashboard at <a href='https://admin.trade-tariff.service.gov.uk'>https://admin.trade-tariff.service.gov.uk</a> using your GOV UK credentials.</p>
<p style='font-size:14px;color:#000;font-family:Calibri,Arial,sans-serif;'>If you need any support, please reach out to the OTT Team at <a href='mailto:hmrc-trade-tariff-support-g@digital.hmrc.gov.uk'>hmrc-trade-tariff-support-g@digital.hmrc.gov.uk</a>.</p>
<p style='font-size:14px;color:#000;font-family:Calibri,Arial,sans-serif;'>Thank you,</p>
<p style='font-size:14px;color:#000;font-family:Calibri,Arial,sans-serif;'>The Online Trade Tariff</p>
