## Verification of proofs of origin

1. Subsequent verifications of proofs of origin shall be carried out at random or whenever the customs authorities of the importing country have reasonable doubts as to the authenticity of such documents, the originating status of the products concerned or the fulfilment of the other requirements of this Origin Reference Document.

2. For the purposes of implementing the provisions of paragraph 1, the customs authorities of the importing country shall return the EUR.1 movement certificate and the invoice, if it has been submitted, the invoice declaration, or a copy of these documents, to the customs authorities or the competent governmental authority of the exporting country giving, where appropriate, the reasons for the inquiry. Any documents and information obtained suggesting that the information given on the proof of origin is incorrect shall be forwarded in support of the request for verification.

    When appropriate, the customs authority of the importing country may request, pursuant to paragraph 2, specific documentation and information from the customs authority of the exporting country.

1. The verification shall be carried out by the customs authorities or the competent governmental authority of the exporting country. For this purpose, they shall have the right to call for any evidence and to carry out any inspection of the exporter's accounts or any other check considered appropriate.

2. If the customs authorities of the importing country decide to suspend the granting of preferential treatment to the products concerned while awaiting the results of the verification, release of the products shall be offered to the importer subject to any precautionary measures judged necessary.

3. The customs authorities requesting the verification shall be informed by the customs authorities or the competent governmental authority of the exporting country of the results of this verification as soon as possible. The results must be presented in a written report, clearly indicating whether the products concerned can be considered as originating, the authenticity and the fulfilment with the other requirements of this Origin Reference Document. The written report shall include:

   1. the results of the verification;

   2. the description of the product subject to verification including its tariff classification when relevant for the application of the rule of origin;

   3. a description and explanation of the rationale concerning the originating status of the product;

   4. information on the manner in which the verification was conducted;

   5. information regarding any verification procedure; and

   6. supporting documentation.

    For greater certainty, the customs authority requesting the verification may determine whether the information contained within a written report is adequate for the purposes of the verification. In making such a determination, the customs authority shall act reasonably and with regard to all of the relevant information available to it.

4. If in cases of reasonable doubts there is no reply within 10 months after the date of the verification request or if the reply does not contain sufficient information to determine the authenticity of the document in question or the origin of the products, the requesting customs authorities are entitled to refuse to grant preferential tariff treatment.

{{ Article 30 }}
