## Verification of proofs of origin

1. Subsequent verifications of proofs of origin shall be carried out at random or whenever the customs authorities of the United Kingdom have reasonable doubts as to the authenticity of such documents, the originating status of the products concerned or the fulfilment of the other requirements of Part A of this Origin Reference Document.

2. For the purposes of implementing paragraph 1, the customs authorities of the United Kingdom shall return the movement certificate EUR.1 and the invoice, if it has been submitted, the invoice declaration, or a copy of those documents to the customs authorities of Cameroon giving, where appropriate, the reasons for the request for verification. Any documents and information obtained suggesting that the information given on the proof of origin is incorrect shall be forwarded in support of the request for verification.

3. The verification shall be carried out by the customs authorities of Cameroon. For that purpose, they shall have the right to call for any evidence and to carry out any inspection of the exporter's accounts or any other check considered appropriate.

4. If the customs authorities of the United Kingdom decide to suspend the granting of preferential treatment to the products concerned while awaiting the results of the verification, release of the products shall be offered to the importer subject to any precautionary measures judged necessary.

5. The customs authorities requesting the verification shall be informed of the results of that verification as soon as possible. Those results shall indicate clearly whether the documents are authentic and whether the products concerned can be considered as products originating in Cameroon or in one of the countries or territories referred to in Article 6 and fulfil the other requirements of Part A of this Origin Reference Document.

6. If in cases of reasonable doubt there is no reply within ten months of the date of the verification request or if the reply does not contain sufficient information to determine the authenticity of the document in question or the real origin of the products, the requesting customs authorities shall, except in exceptional circumstances, refuse entitlement to the preferences.

7. Where the verification procedure or any other information available appears to indicate that the provisions of Part A of this Origin Reference Document are being contravened, appropriate enquiries shall be carried out with due urgency to identify and prevent such contraventions.

## Verification of suppliers' declarations

1. Verification of suppliers' declarations shall be carried out at random or whenever the customs authorities of the United Kingdom have reasonable doubts as to the authenticity of the document or the accuracy or completeness of the information concerning the true origin of the materials in question.

2. The customs authorities to which a supplier's declaration is submitted may request the customs authorities of the State where the declaration was made to issue an information certificate, a specimen of which appears in Appendix 6. Alternatively, the customs authorities to which a supplier's declaration is submitted may request the exporter to produce an information certificate issued by the customs authorities of the State where the declaration was made.

    A copy of the information certificate shall be preserved by the office which issued it for at least three years.

3. The customs authorities requesting the verification shall be informed of the results of the verification as soon as possible. The results shall indicate clearly whether the declaration concerning the status of the materials is correct.

4. For the purpose of verification, suppliers shall keep a copy of the document containing the declaration together with all necessary evidence showing the true status of the materials for not less than three years.

5. The customs authorities in the State where the supplier's declaration is drawn up shall have the right to call for any evidence or to carry out any check which they consider appropriate in order to verify the correctness of any supplier's declaration.

6. Any movement certificate EUR.1 or invoice declaration issued or made out on the basis of an incorrect supplier's declaration shall be considered null and void.

{{ Articles 31 and 32 }}
