A declaration of origin that is the basis for a claim for preferential tariff treatment under the United Kingdom-Australia Agreement must include the following elements:

## Exporter, Producer, or Authorised Representative of the Exporter or Producer

Indicate whether the signatory is the exporter, or producer in accordance with Article 18 (Claims for Preferential Tariff Treatment). In the case of an authorised representative, indicate whether the declaration of origin has been completed on behalf of the exporter, producer, or both.

## Signatory

Provide the signatory’s name, company name (if applicable), address (including country), telephone number, and e-mail address.

## Exporter

Provide the exporter’s name, address (including country), e-mail address, and telephone number if different from the signatory. For UK exporters, provide the UK exporter reference number where one has been assigned. The address of the exporter must be in the exporting Party. This information is not required if the producer is completing the declaration of origin and does not know the identity of the exporter.

## Producer

Provide the producer’s name, address (including country), e-mail address, and telephone number, if different from the certifier or exporter or, if there are multiple producers, state “Various” or provide a list of producers. A person that wishes for this information to remain confidential may state “Available upon request by the importing authorities”. The address of a producer must be the place of production of the good in a Party.

## Importer

Provide, if known, the importer’s name, address, e-mail address, and telephone number. The address of the importer must be in a Party.

## Description and HS Tariff Classification of the Good

(a)	Provide a description of the good and the Harmonized System tariff classification of the good to the six-digit level. The description should be sufficient to relate it to the good covered by the declaration of origin; and

(b)	If the declaration of origin covers a single shipment of a good, indicate, if known, the invoice number related to the exportation.

## Origin Criterion

Specify the rule of origin under which the good qualifies.

## Period for multiple shipments

If the declaration of origin covers multiple shipments of identical goods for a specified period of up to 12 months as set out in paragraph 3 of Article 18 (Claims for Preferential Tariff Treatment), state the period during which such shipments will be made.

## Authorised Signature and Date

If the exporter or producer is the signatory, the declaration of origin must be signed and dated by the signatory, and accompanied by the following statement:

I (the exporter/the producer) declare that the goods described in this document qualify as originating and the information contained in this document is true and accurate. I (the exporter/the producer) assume responsibility for proving such representations and agree to maintain and present upon request or to make available during a verification visit, documentation necessary to support this declaration of origin.

If an authorised representative of the exporter or producer is the signatory, the declaration of origin must be signed, dated and accompanied by the following statement:

I (the authorised representative of the exporter/producer) declare that the goods described in this document qualify as originating and the information contained in this document is true and accurate. The exporter or the producer, as the case may be, assumes responsibility for providing such representations and agrees to maintain and present upon request or to make available during a verification visit, documentation necessary to support this declaration of origin.
