<p>
  Please use the following link to download the exchange rate file for <%= @month_and_year %>.<br><br>
  Link: <a href="<%= File.join(TradeTariffBackend.frontend_host, @csv_hmrc.file_path) %>">CSV HMRC link</a><br><br>
</p>

<p>
  Please direct any queries to <a href="mailto:<%= TradeTariffBackend.support_email %>"><%= TradeTariffBackend.support_email %></a>.<br><br>
  Online Trade Tariff Team
</p>
