## Verification of proofs of origin

1. Subsequent verifications of proofs of origin will be carried out at random or whenever HMRC has reasonable doubts as to the authenticity of such documents, the originating status of the products concerned or the fulfilment of the other requirements of this Annex.

2. For the purposes of implementing subparagraph 1, HMRC will return the movement certificate EUR.1 and the invoice, if it has been submitted, the origin declaration, or a copy of these documents, to the customs authorities of the exporting Overseas Territory giving, where appropriate, the reasons for the enquiry. Any documents and information obtained suggesting that the information given on the proof or origin is incorrect will be forwarded in support of the request for verification.

3. The verification will be carried out by the customs authorities of the exporting Overseas Territory. For this purpose, they will be permitted to call for any evidence and to carry out any inspection of the exporter’s accounts or any other check considered appropriate.

4. If HMRC decides to suspend the granting of preferential treatment to the products concerned while awaiting the results of the verification, release of the products will be offered to the importer subject to any precautionary measures deemed necessary.

5. HMRC will be informed of the results of this verification as soon as possible. These results must indicate clearly whether the documents are authentic and whether the products concerned can be considered as products originating in an Overseas Territory, in the UK or in an EPA country and fulfil the other requirements of this Annex.

6. If in cases of reasonable doubt there is no reply within 10 months of the date of the verification request or if the reply does not contain sufficient information to determine the authenticity of the document in question or the real origin of the products, the requesting customs authorities will, except in exceptional circumstances, refuse entitlement to the preferences.

## Verification of suppliers’ declarations

1. Verification of suppliers’ declaration may be carried out at random or whenever the customs authorities of the importing country or territory have reasonable doubts as to the authenticity of the document or the accuracy or completeness of the information concerning the true origin of the materials in question.

2. The customs authorities to which a supplier’s declaration is submitted may request the customs authorities of the country or territory where the declaration was made to issue an information certificate. Alternatively, the customs authorities to which a supplier’s declaration is submitted may request the exporter to produce an information certificate issued by the customs authorities of the country or territory where the declaration was made.

    A copy of the information certificate will be preserved by the office which has issued it for at least three years.

3. The requesting customs authorities will be informed of the results of the verification as soon as possible. The results must be such as to indicate positively whether the declaration concerning the status of the materials is correct.

4. For the purpose of verification, suppliers will keep for not less than three years a copy of the document containing the declaration together with all necessary evidence showing the true status of the materials.

5. The customs authorities in the country or territory where the supplier’s declaration is established will be permitted to call for any evidence or to carry out any check which they consider appropriate in order to verify the correctness of any supplier’s declaration.

6. Any movement certificate EUR.1 issued or made out on the basis of an incorrect supplier’s declaration will be considered null and void.
