### Claims for preferential tariff treatment

Unless otherwise specified, a claim for the preferential tariff treatment of goods meeting the requirements of the Origin Regulations must be made on the basis of a proof of origin made out by the exporter and must take the form of either:

- an **origin declaration** provided on an invoice or any other commercial document that describes the goods concerned in sufficient detail to enable them to be identified and contains:
  - the statement set out in Annex B
  - the data elements identified in that Annex; *or*

- **Form A** made out in accordance with Annex A.

A claim for preferential tariff treatment must be included in the customs import declaration.

By way of derogation, if an importer did not make a claim for preferential tariff treatment at the time of importation, HMRC will grant preferential tariff treatment and repay or remit any excess customs duty paid provided that:

- the claim for preferential tariff treatment is made no later than two years after the date of importation;

- the importer provides a valid proof of origin; *and*

- the goods would have been regarded as originating from the beneficiary country under the Origin Regulations and would have satisfied all the requirements of this notice had the claim been made by the importer at the time of importation.

### Conditions for making out a proof of origin

A proof of origin must be made out by any exporter operating in a beneficiary country for any consignment provided that the exporter making out the proof of origin:

- maintains appropriate commercial accounting records concerning the production and supply of goods qualifying for preferential tariff treatment

- shall be prepared to provide at any time, at the request of the customs or other competent governmental authorities of the exporting country, all supporting documents or written statements from producers and suppliers which evidence a claim that the goods are originating

Supporting documents may include documents relating to the following:

- the processes carried out on the originating good or on materials used in the production of that good

- the purchase of, the cost of, the value of, and the payment for the good

- the originating status of, the purchase of, the cost of, the value of, and the payment for all materials, including, where relevant, indirect material used in the production of the good and which have been relied on by the exporter in determining the regional value content of the good

- where cumulation under regulation 17, 18, 19, 20 or 21 respectively of the Origin Regulations is applied:

    a. in the case of bilateral cumulation with the UK, an origin declaration provided by the UK exporter made out in accordance with this notice

    b. in the case of bilateral cumulation with the EU, Norway, Switzerland or a British Overseas Territory other than Gibraltar or the Sovereign Base Areas of Akrotiri and Dhekelia (OT), the proof of origin provided by the exporter and issued in accordance with the relevant rules of origin of the EU, Norway, Switzerland or OT, as the case may be

    c. in the case of intra-regional cumulation or inter-regional cumulation, the origin declaration provided by the exporter

    d. in the case of extended cumulation in accordance with Regulation 20 of the Origin Regulations, the proof of origin provided by the exporter in the TA country (as defined in regulation 20(1) of the Origin Regulations) issued in accordance with the provisions of the relevant trade arrangement between the UK and the TA country concerned: *or*

    e. in the case of extended cumulation for Least Developed Countries in accordance with Regulation 21 of the Origin Regulations, the proof of origin provided by the exporter or the proof of origin provided by the exporter in the EPA country issued in accordance with the provisions of the EPA

- In the cases referred to in paragraphs (a), (b), (c), (d) and (e) Box 4 of the certificate Form A or the invoice or other commercial document in the case of an origin declaration must contain whichever of the following indications is applicable: “UK bilateral cumulation”, “OT bilateral cumulation”, “EU bilateral cumulation”, “Norway bilateral cumulation”, “Switzerland bilateral cumulation”, “intra-regional cumulation”, “inter-regional cumulation”, “extended cumulation with country x” where “x” is the TA country, EPA country or DCTS country.

A proof of origin:

- must be made out in English and, if handwritten, completed in ink

- must bear the signature of the exporter

- may be sent electronically from the exporter to the importer

An exporter may make out a proof of origin after exportation of the goods to which it relates if:

- it was not issued at the time of exportation because of errors or involuntary omissions or special circumstances

- it was issued but was not accepted at importation for technical reasons

- the final destination of the goods concerned was determined during their transportation or storage and after splitting of a consignment, in accordance with the Origin Regulations.
