## Requesting a verification of origin

3. The customs authority of the importing Party may verify whether a good is originating by requesting, in writing, that the customs authority of the exporting Party conduct a verification concerning whether a good is originating.

4. When requesting a verification of origin, the customs authority of the importing Party shall provide the customs authority of the exporting Party with:

   1. the identity of the customs authority issuing the request;

   2. the name of the exporter, producer or supplier to be verified;

   3. the subject and scope of the verification; and

   4. a copy of the origin declaration and, where applicable, any supporting documentation.

5. When appropriate, the customs authority of the importing Party may request specific documentation and information from the customs authority of the exporting Party as part of a verification of origin.

6. A request to conduct a verification of origin made by the customs authority of the importing Party shall be provided to the customs authority of the exporting Party by certified or registered mail or any other method that produces a confirmation of receipt by that customs authority.

7. The customs authority of the exporting Party shall provide the customs authority of the importing Party with a written acknowledgement of receipt (which for the avoidance of doubt may be sent by email) of this request within a period of 45 days from the date of receipt of the written request, or any other time period agreed upon by the Parties.

## Conducting a verification of origin

8. Following a request outlined in paragraph 6, the customs authority of the exporting Party shall proceed to the origin verification. For this purpose, the customs authority may, in accordance with its laws and regulations:

   1. request documentation;

   2. call for any evidence; and

   3. visit the premises of an exporter, a producer or supplier to review the records referred to in Article 25(1) and (2) and observe the facilities used in the production of the good.

9. Each Party shall provide that, if an exporter has based an origin declaration on a written statement from a producer or supplier, the exporter may arrange for that producer or supplier to provide documentation or information directly to the customs authority of the exporting Party upon request.

## Release of goods subject to a verification of origin

10. Pending the results of a verification of origin conducted pursuant to paragraph 11, the importing Party shall allow the release of the good, subject to payment of duties or provision of a guarantee in the form of a surety, a deposit or some other appropriate instrument as provided for in its laws and regulations. If, as a result of the verification, the importing Party determines that the good is an originating good, it shall grant preferential treatment to the good and refund any excess duties paid or release any guarantee provided, unless the guarantee also covers other obligations which have not been discharged.

## Completing a verification of origin

11. As soon as possible and in any event within 10 months after receiving the written request for a verification of origin, the customs authority of the exporting Party shall complete a verification, and shall:
    1. provide to the customs authority of the importing Party, by certified or registered mail or any other method that produces a confirmation of receipt by that customs authority, a written report in order for it to determine whether the good is originating or not, which contains:
        1. the results of the verification;
        2. the description of the good subject to verification and the tariff classification relevant to the application of the rules of origin;
        3. a description and explanation of the good sufficient to support the rationale concerning the originating status of the good;
        4. information on the manner in which the verification was conducted; and
        5. where appropriate, supporting documentation; and
    2. subject to its laws and regulations, notify the exporter of the outcome of the verification of origin.

12. The period of time within which a verification of origin shall be completed may be extended by mutual consent of the customs authorities concerned.

## Result of a verification of origin

13. If a verification of origin finds that the importer, exporter, producer or supplier has failed to comply with any requirement of this Origin Reference Document, the importing Party may deny preferential treatment to the good.

14. If the result of a verification of origin has not been provided in accordance with this Origin Reference Document, the customs authority of the importing Party may deny preferential treatment to a good if it has reasonable doubt that, or when it is unable to determine whether, the good is originating.

{{ Article 26 }}
