## Verification of Origin Declarations

1. Subsequent verifications of origin declarations shall be carried out at random or whenever the customs authorities of the importing Party have reasonable doubts as to the authenticity of such documents, the originating status of the products concerned or the fulfilment of the other requirements of this Origin Reference Document.

2. For the purposes of implementing the provisions of paragraph 1, if it has been submitted, the customs authorities of the importing Party shall return the origin declaration, or a copy of that document, to the customs authorities of the exporting Party giving, where appropriate, the reasons for the enquiry. Any document and information obtained suggesting that the information given on the origin declarations is incorrect shall be forwarded in support of the request for verification.

3. The verification shall be carried out by the customs authorities of the exporting Party. For this purpose, they shall have the right to request any evidence and to carry out any inspection of the exporter's accounts or any other check considered appropriate.

4. If the customs authorities of the importing Party decide to suspend the granting of preferential treatment to the products concerned while awaiting the results of the verification, the release of the products shall be offered to the importer, subject to any precautionary measures judged necessary. Any suspension of preferential treatment shall be reinstated as soon as possible after the originating status of the products concerned or the fulfilment of the other requirements of this Origin Reference Document has been ascertained by the customs authorities of the importing Party.

5. The customs authorities requesting the verification shall be informed of the results of this verification as soon as possible. These results must indicate clearly whether the documents are authentic and whether the products concerned can be considered as products originating in the Parties and fulfil the other requirements of this Origin Reference Document.

6. If, in cases of reasonable doubt, there is no reply within ten months of the date of the verification request or the reply does not contain sufficient information to allow the requesting customs authorities to determine the authenticity of the document in question or the real origin of the products, the requesting customs authorities, except in exceptional circumstances, shall refuse entitlement to the preferences.

{{ Article 27 }}
