:verbose: false
:concurrency: 10
:queues:
  - sync
  - default
  - healthcheck
:scheduler:
  :schedule:
    #
    # Syntax:
    #
    # mm hh dd mt wd  command
    #
    # mm minute 0-59
    # hh hour 0-23
    # dd day of month 1-31
    # mt month 1-12
    # wd day of week 0-7 (Sunday = 0 or 7)
    #
    # Online converter: https://crontab.guru/#0_22_*_*_*
    #
    CdsUpdatesSynchronizerWorker:
      cron: "30 0 * * *"
      description: "Runs ETL of CDS files and populates indexes"
      enabled: <%= ENV.fetch('SERVICE', 'uk') == 'uk' %>
    TaricUpdatesSynchronizerWorker:
      cron: "0 0 * * *"
      description: "Runs ETL of Taric files and populates indexes"
      enabled: <%= ENV.fetch('SERVICE', 'uk') == 'xi' %>
    RefreshAppendix5aGuidanceWorker:
      # Runs workdays at 22:00
      cron: "00 22 * * 1,2,3,4,5"
      description: "Hot refreshes CDS Guidance"
      enabled: <%= ENV.fetch('SERVICE', 'uk') == 'uk' %>
    PopulateSearchSuggestionsWorker:
      cron: "0 18 * * *"
      description: "Populates search suggestions which are used in the frontend"
    ReportWorker:
      cron: "30 10 * * *" # Needs to run even if the UpdatesSynchronizerWorker failed
      description: "Generates reports and persists them to S3"
    HealthcheckWorker:
      every: 30.minutes
      description: Trigger the health check
    OneWeekTreeIntegrityCheck:
      cron: '05 8 * * 1'
      class: TreeIntegrityCheckWorker
      description: Check integrity of Goods Nomenclature hierarchy 1-4 weeks in future
    MonthlyExchangeRatesWorker:
      cron: '0 21 * * 3'
      description: Update monthly rates data from XE API and Upload files to S3 every penultimate wednesday of the month at 9pm
      enabled: <%= ENV.fetch('SERVICE', 'uk') == 'uk' %>
    SpotExchangeRatesWorker:
      cron: '0 21 31 3,12 *' # Runs on end of March and December
      description: Update spot rates data from XE API and Upload files to S3
      enabled: <%= ENV.fetch('SERVICE', 'uk') == 'uk' %>
    AverageExchangeRatesWorker:
      cron: '0 21 31 3,12 *' # Runs on end of March and December
      description: Creates average rates from downloaded data and uploads file to S3
      enabled: <%= ENV.fetch('SERVICE', 'uk') == 'uk' %>
    SynchronizerCheckWorker:
      cron: "30 08 * * *"
      description: Checks we have recent Quota Balance Events - this is an early warning that our sync process has a potential issue
    CheckDifferencesReportHasRun:
      cron: "0 1 * * 2"  # 1am every Tuesday
      description: "Checks if the differences report has run"
      class: DifferencesReportCheckWorker
    FAQFeedbackReportWorker:
      cron: "0 9 * * 2"  # 9am every Tuesday
      description: "Sends FAQ Feedback Report"
      class: FaqFeedbackReportWorker
    RemoveFailedSubscribersWorker:
      cron: "0 3 * * 0"  # 3am every Sunday
      description: "Removes failed myott subscribers"
      enabled: <%= ENV.fetch('SERVICE', 'uk') == 'uk' %>
    ActionLogReportWorker:
      cron: "0 6 * * *" # 6am every day
      description: Generates and emails a CSV report of the previous day's user action logs
      enabled: <%= ENV.fetch('SERVICE', 'uk') == 'uk' %>
