:verbose: false
:concurrency: 10
:queues:
  - [rollbacks, 2]
  - [sync, 2]
  - [default, 5]
:schedule:
  #
  # Syntax:
  #
  # mm hh dd mt wd  command
  #
  # mm minute 0-59
  # hh hour 0-23
  # dd day of month 1-31
  # mt month 1-12
  # wd day of week 0-7 (Sunday = 0 or 7)
  #
  # Online converter: https://crontab.guru/#0_22_*_*_*
  #
  UpdatesSynchronizerWorker:
    cron: "0 6 * * *"
    description: "UpdatesSynchronizerWorker"
  TaricSequenceCheckWorker:
    cron: "0 14 * * 6" 
    description: "TaricSequenceCheckWorker"
  PopulateChangesTableWorker:
    cron: "30 4 * * *" 
    description: "Populates the changes table"
