## Verification of proofs of origin

1. Subsequent verifications of proofs of origin shall be carried out at random or whenever the customs authorities of the importing Party have reasonable doubts as to the authenticity of such documents, the originating status of the products concerned or the fulfilment of the other requirements of this Origin Reference Document.

2. For the purposes of implementing the provisions of paragraph 1, the customs authorities of the importing Party shall return the movement certificate EUR.1 or EUR-MED and the invoice, if it has been submitted, the origin declaration or the origin declaration EUR-MED, or a copy of these documents, to the customs authorities of the exporting Party giving, where appropriate, the reasons for the request for verification. Any documents and information obtained suggesting that the information given on the proof of origin is incorrect shall be forwarded in support of the request for verification.

3. The verification shall be carried out by the customs authorities of the exporting Party. For this purpose, they shall have the right to call for any evidence and to carry out any inspection of the exporter's accounts or any other check considered appropriate.

4. If the customs authorities of the importing Party decide to suspend the granting of preferential treatment to the products concerned while awaiting the results of the verification, release of the products shall be offered to the importer subject to any precautionary measures judged necessary.

5. The customs authorities requesting the verification shall be informed of the results of this verification as soon as possible. These results shall indicate clearly whether the documents are authentic and whether the products concerned may be considered as products originating in the United Kingdom, in the West Bank and the Gaza Strip or in one of the other countries or territories referred to in Articles 3 and 4 and fulfil the other requirements of this Origin Reference Document.

6. If, in cases of reasonable doubt, there is no reply within ten months of the date of the verification request or if the reply does not contain sufficient information to determine the authenticity of the document in question or the real origin of the products, the requesting customs authorities shall, except in exceptional circumstances, refuse entitlement to the preferences.

{{ Article 33 }}
