## Verification of Proofs of Origin

1. Subsequent verifications of proofs of origin shall be carried out at random or whenever the competent authorities or customs authorities of the importing Party have reasonable doubts as to the authenticity of such documents, the originating status of the products concerned or the fulfilment of the other requirements of this Origin Reference Document.

2. For the purposes of implementing paragraph 1, the competent authorities or customs authorities of the importing Party shall return the movement certificate EUR.1 and the invoice, if submitted, or a copy of these documents, to the competent authorities or customs authorities of the exporting Party giving, where appropriate, the reasons for the enquiry. Any documents and information obtained suggesting that the information given on the proof of origin is incorrect shall be forwarded in support of the request for verification.

3. The verification shall be carried out by the competent authorities or customs authorities of the exporting Party. For this purpose, such authorities shall have the right to call for any evidence and to carry out any inspection of the exporter's accounts or any other check considered appropriate.

4.  If the competent authorities or customs authorities of the importing Party decide to suspend the granting of preferential treatment to the products concerned while awaiting the results of the verification, release of the products shall be offered to the importer subject to any precautionary measures judged necessary.

5. The competent authorities or customs authorities requesting the verification shall be informed of the results of this verification as soon as possible. These results must indicate clearly whether the documents are authentic and whether the products concerned can be considered as products originating in a Party and fulfil the other requirements of this Origin Reference Document.

6. If in cases of reasonable doubt there is no reply within 10 months of the date of the verification request, or if the reply does not contain sufficient information to determine the authenticity of the document in question or the real origin of the products, the requesting competent authorities or customs authorities shall, except in exceptional circumstances, refuse entitlement to the preferences.

7.  For the purposes of this Article, working communications between the competent authorities or customs authorities of the importing and the exporting Parties shall be conducted in English or in Spanish languages, or shall be accompanied by a translation in English or Spanish.

{{ Article 30 }}
