## Verification of Origin

$LegislativeList
* 1. For greater certainty, the verification of origin process set out below is subsequent to the checking of authenticity of the proof of origin in accordance with Article 3.16 (Basis of a Claim for Preferential Tariff Treatment). The mechanism based on Annex 3D (Framework for the Authentication Process of Origin Declarations) may be amended by mutual agreement by the Subcommittee on Trade in Goods further to consideration by the Working Group on Rules of Origin.

* 2. Where a claim for preferential tariff treatment is based on the importer’s knowledge pursuant to paragraph 1 of Article 3.15 (Proof of Origin), for the purpose of determining whether a good imported into the United Kingdom is originating, the customs authority of the United Kingdom may conduct a verification by a written request for information from the importer of the good. (footnote: For greater certainty, if a claim for preferential tariff treatment is based on the importer’s knowledge that the good is originating, the customs authority of the United Kingdom :shall not request information from the competent authority of India to complete a verification under this Chapter.)

* 3. Where a claim for preferential tariff treatment is based on an origin declaration or a certificate of origin, for the purpose of determining whether a good imported into the importing Party is originating, the customs authority of the importing Party may conduct a verification of the claim by requesting, in writing, information from the importer of the good in accordance with the laws and regulations of the importing Party.

* 4. Where the customs authority of the importing Party considers the information obtained under paragraph 3 is not sufficient to make a determination of origin, the customs authority of the importing Party shall make a written request for information from the competent authority of the exporting Party. The customs authority of the importing Party shall seek information necessary to verify the origin of the good and pertaining to the fulfilment of the requirements of this Chapter. The request shall be made no later than two years after the date on which the claim for preferential tariff treatment was made.

* 5. A request for assistance relating to the verification of origin in respect of a claim for preferential tariff treatment under this Agreement may be made after the two-year time period set out in paragraph 4 in accordance with the Agreement between the Government of the United Kingdom of Great Britain and Northern Ireland and the Government of the Republic of India on Cooperation and Mutual Administrative Assistance in Customs Matters signed in London on 31 May 2021. (footnote: Requests for information from the United Kingdom shall be made to the Department of Commerce in India.) Such requests may include a request for the information referred to in paragraph 6. For greater certainty, Article 3.19 (Determinations of Claims for Preferential Tariff Treatment) remains applicable pursuant to such a request. In the case of suspected fraud, collusion, wilful misstatement, and suppression of facts where such a request is made within a period of five years from the date on which the claim for preferential tariff treatment was made, the requested Party shall ensure that it responds to the request within 12 months. In exceptional cases, the Parties may by mutual agreement agree to extend this period for a further six months.

* 6. A request made pursuant to paragraph 4 may also include a request for the competent authority of the exporting Party to verify specific information held by the exporter, producer or supplier necessary to determine the origin of the good, such as:

  * a. where the origin criterion is wholly obtained pursuant to subparagraph (a) of Article 3.2 (Origin Criteria), the applicable category (such as harvesting, mining, fishing), and the place of production;

  * b. where the origin criterion is based on the good having been produced entirely pursuant to subparagraph (b) of Article 3.2 (Origin Criteria), the information on the origin of the materials used, including information referred to in subparagraphs (d), (e) and (f), and the place of production;

  * c. where the origin criterion is based on the good satisfying all applicable requirements of Annex 3A (Product Specific Rules of Origin) in accordance with subparagraph (c) of Article 3.2 (Origin Criteria), the information on the origin of the materials, including information referred to in subparagraphs (d), (e) and (f), and the place of production;

  * d. where the origin criterion is based on a change in tariff classification, a list of all the non-originating materials used in the production of the good in a Party, including their tariff classification (in two, four, or six-digit format, depending on the relevant product-specific rule of origin);

  * e. where the origin criterion is based on a value method, the value of the final good and the value of all the non-originating materials used in the production of that good if the build down method is used or the value of all originating materials used in the production if the build-up method is used as well as other relevant elements, including expenses, in accordance with Article 3.5 (Qualifying Value Content).

  * f. where the origin criterion is based on a specific production process, a description of that specific process;

  * g. where the good has acquired originating status pursuant to paragraph 1 of Article 3.6 (Materials Used in Production) or Article 3.8 (Cumulation), information on the origin of the materials used and the final good, including information referred to in subparagraphs (d), (e) and (f), and the place of production;

  * h. information on any tolerances relied on under Article 3.9 (Tolerance);

  * i. information relating to compliance with the non-alteration provisions under Article 3.14 (Non-Alteration);

  * j. any other information including specific documentation or production process; or

  * k. supporting documentation, where appropriate.

* 7. The competent authority of the exporting Party shall provide the customs authority of the importing Party with a written acknowledgement of receipt of the request made pursuant to paragraph 4 or 6 within a period of 30 days after the date of the request.

* 8. Following a request under paragraph 4, the competent authority of the exporting Party may conduct a verification by one or more of the following activities:

  * a. requesting, in writing, specific information and documentation from the exporter, producer or supplier referred to in paragraph 6;

  * b. requesting, in writing (including by way of questionnaire), such information from the exporter, a producer, or a supplier to ascertain the veracity of the information that formed the basis of the proof of origin; and

  * c. visiting the premises of the exporter, producer, or supplier to review the records referred to in paragraph 2 of Article 3.24 (Record Keeping Requirements), or to observe the facilities, processes, equipment or tools used in the production of the good, or to gather further evidence to verify the originating status of the goods.

* 9. As soon as possible, and in any event within seven months of receiving a request under paragraph 4 the competent authority of the exporting Party shall provide the customs authority of the importing Party with a verification report. In exceptional cases, the Parties may agree, by mutual agreement, to extend this period by a further three months. The verification report shall include the following:

  * a. subject to paragraph 10, any available information, including specific documentation, which the customs authority of the importing Party requested the competent authority of the exporting Party to verify, pursuant to paragraph 6;

  * b. a description of the good that is subject to examination, including its tariff classification in 2, 4 or 6-digit format, depending on the origin criterion;

  * c. a description of the production process;

  * d. information on the manner in which the verification of the good pursuant to paragraph 8 was conducted including the subject and scope of the verification; and

  * e. supporting documentation, where appropriate.

* 10. Notwithstanding paragraph 9, the competent authority of the exporting Party shall not provide information to the customs authority of the importing Party if that information is deemed confidential by the exporter, producer or supplier. In such circumstances, the competent authority of the exporting Party shall confirm if it has reviewed the information the importing Party requested it to verify pursuant to paragraphs 4 and 6 and shall list the sources of information reviewed, stating whether the information supports the claim for preferential tariff treatment.

* 11. If, upon receiving the verification report under paragraph 9, the customs authority of the importing Party is unable to make a determination, it may request that the competent authority of the exporting Party verifies specific additional information, as set out in the request, relating to the origin of the good, which may include the information referred to in paragraph 6, by way of a written request to the exporter, producer or supplier.

* 12. In exceptional circumstances, if, following a request under paragraph 11, the customs authority of the importing Party is unable to make a determination, it may request that the competent authority of the exporting Party conducts a visit to the exporter, producer or supplier. The customs authority of the importing Party shall only make a request where it reasonably considers the visit necessary to make a determination. The request for such a verification visit shall be made no later than 30 days of the receipt of the response from the competent authority of the exporting Party to a request made under paragraph 11. The competent authority of the exporting Party shall respond to the request for a visit within 45 days.

* 13. Upon acceptance of a request for a visit under paragraph 12, the competent authority of the exporting Party shall give a notice of at least 21 days to the competent authority of the importing Party so as to enable arrangements for the visit.

* 14. Subject to any reasonable conditions set out by the competent authority of the exporting Party, such as health and safety requirements, the customs authority of the importing Party may designate up to two observers to be present during the verification visit conducted by the customs authority of the exporting Party under paragraph 12, provided that:

  * a. any person designated as an observer is a government official of the importing Party; and

  * b. any observer acts through the competent authority of the exporting Party and does not, on its own initiative, look for documents, conduct any searches, or question the exporter, producer or supplier directly.

* 15. The competent authority of the exporting Party shall share the information on the visit including the manner in which the visit was conducted as well as the subject and scope of the verification within 45 days of the conclusion of the visit.

* 16. A verification under this Article may be conducted at any time after the claim for preferential tariff treatment is made.

* 17. A request for verification under this Article shall be conducted on the basis of risk assessment methods, which may include random selection, or on the basis of intelligence.

* 18. During verification, the importing Party may allow the release of the good, subject to payment of any duties or provision of any security as provided for in its laws and regulations. In accordance with the laws and regulations of the importing Party, if as a result of the verification the importing Party determines that the good meets all the requirements of this Chapter, it shall grant preferential tariff treatment to the good and refund any excess duties paid or release any security provided, unless the security also covers other obligations.

* 19. The customs authority of the importing Party shall reserve the right to issue the final determination of origin in accordance with Article 3.19 (Determinations of Claims for Preferential Tariff Treatment), provided that the determination takes into account the information provided to it by the competent authority of the exporting Party as well as any independent findings or investigation.

* 20. The customs authority of the importing Party shall:

  * a. make a determination following a verification as expeditiously as possible and no later than one year from the date it receives information which, in its opinion, is sufficient to enable it to make such a determination. If permitted by its laws and regulations, a Party may extend this period in exceptional cases, such as where the information concerned is complex. This time period will not apply to verifications pertaining to cases of suspected fraud, collusion, wilful misstatement, and suppression of facts referred to in paragraph 5;

  * b. provide the importer with a written determination of whether the good is originating that includes the reasons for the determination; and

  * c. provide the competent authority of the exporting Party with a written determination of whether the good is originating including the reasons for that determination.

* 21. The competent authorities of the Parties shall cooperate in the overall operation and administration of the verification process including establishing priorities, by mutual agreement, if there are a significant number of requests.

* 22. The customs authorities of the Parties shall bear their own costs in carrying out the activities referred to in this Article.
$EndLegislativeList

