## Verification of proofs of origin

$LegislativeList
* 1. An importer may be denied a claim for preferential tariff treatment if:

  * a. the importing Party determines that the good does not qualify for preferential treatment;

  * b. pursuant to a verification under Article 3.27 (Verification of Origin) of the CPTPP Agreement, the importing Party has not received sufficient information to determine that the good qualifies as originating;

  * c. the exporter, producer or importer fails to respond to a written request for information in accordance with Article 3.27 (Verification of Origin) of the CPTPP Agreement;

  * d. after receipt of a written notification for a verification visit, the exporter or producer does not provide its written consent in accordance with Article 3.27 (Verification of Origin) of the CPTPP Agreement;

  * e. the importer, exporter or producer fails to comply with the requirements of this Origin Reference Document; or

  * f. for a textile and apparel good, if, pursuant to a verification under Chapter 4 of the CPTPP Agreement, access or permission for the visit is denied, the importing Party is prevented from completing the visit on the proposed date, and the exporter or producer does not provide an alternative date acceptable to the importing Party, or the exporter or producer does not provide access to the relevant records or facilities during a visit.

* 2. If an importer is denied a claim for preferential tariff treatment, they shall be issued with a determination that includes the reasons for the determination.

* 3. A claim for preferential tariff treatment shall not be rejected for the sole reason that the invoice was issued in a non-Party. If an invoice is issued in a non-Party, the certification of origin shall be separate from the invoice.

* 4. If the competent authority that issued the certification of origin fails to respond to a verification request, the importing Party may deny the claim for preferential tariff treatment.
$EndLegislativeList

{{Article 27}}
