## Verification of proofs of origin

1. In order to ensure the proper application of  this Origin Reference Document, the Parties shall assist each other, through the customs authorities, in checking the authenticity of the proofs of origin and the correctness of the information given in these documents.

2. Subsequent verifications of proofs of origin shall be carried out at random or whenever the customs authorities of the importing Party have reasonable doubts as to the authenticity of such documents, the originating status of the products concerned or the fulfilment of the other requirements of this Origin Reference Document.

3. For the purposes of implementing the provisions of paragraph 1, the customs authorities of the importing Party shall return the proofs of origin or a copy of these documents, to the customs authorities of the exporting Party giving, where appropriate, the reasons for the enquiry. Any documents and information obtained suggesting that the information given on proof of origin is incorrect shall be forwarded in support of the request for verification.

4. The verification shall be carried out by the customs authorities of the exporting Party. For this purpose, they shall have the right to call for any evidence and to carry out any inspection of the exporter’s accounts or any other check considered appropriate.

5. If the customs authorities of the importing Party decide to suspend the granting of preferential treatment to the products concerned while awaiting the results of the verification, release of the products shall be offered to the importer subject to any precautionary measures judged necessary.

6. The customs authorities requesting the verification shall be informed of the results of this verification including findings and facts, as soon as possible. These results must indicate clearly whether the documents are authentic and whether the products concerned can be considered as products originating in a Party and fulfil the other requirements of this Origin Reference Document.

7. If in cases of reasonable doubt there is no reply within 10 months of the date of the verification request or if the reply does not contain sufficient information to determine the authenticity of the document in question or the real origin of the products, the requesting customs authorities shall except in exceptional circumstances, refuse entitlement to the preference.

8. Notwithstanding Article 2 of the Protocol on Mutual Administrative Assistance in Customs Matters to the UK-Korea Agreement, the Parties will refer to Article 7 of that Protocol for joint enquiries related to proofs of origin.

{{ Article 25 }}
