<p>Dear all,</p>
<p>
  Please find attached the latest CDS updates in Excel format for <%= @produced_date %>.
</p>
<p>This data was loaded to the Online Tariff by 06:30 on <%= @loaded_date %>.</p>
<p>
  If you have any queries with the content of this file, please contact us on
  <a href="mailto:hmrc-trade-tariff-support-g@digital.hmrc.gov.uk">
    hmrc-trade-tariff-support-g@digital.hmrc.gov.uk
  </a>
</p>
<p>Thank you,</p>
<p>The Online Tariff Team.</p>
