## Verification of Proofs of Origin

1. Subsequent verifications of proofs of origin shall be carried out at random or whenever the competent authorities of the importing Party have reasonable doubts as to the authenticity of such documents, the originating status of the products concerned or the fulfilment of the other requirements of this Origin Reference Document.

2. For the purpose of implementing the provisions of paragraph 1, the competent authorities of the importing Party shall return the certificate of origin and the invoice, if it has been submitted, or the origin declaration, or a copy of these documents, to the competent authorities of the exporting Party giving, where appropriate, the reasons for the enquiry. Any documents and information obtained suggesting that the information given on the proof of origin is incorrect shall be forwarded in support of the request for verification.

3. The verification shall be carried out by the competent authorities of the exporting Party. For that purpose, they shall have the right to request any evidence and to carry out any inspection of the exporter's accounts or any other check considered appropriate.

4. If the competent authorities of the importing Party decide to suspend the granting of preferential tariff treatment to the products concerned while awaiting the results of the verification, release of the products shall be offered to the importer subject to any precautionary measures deemed necessary. Any suspension of preferential tariff treatment shall be reinstated as soon as possible after the originating status of the products concerned or the fulfilment of the other requirements of this Origin Reference Document has been ascertained by the competent authorities of the importing Party.

5. The competent authorities requesting the verification shall be informed of the results of this verification as soon as possible. These results must indicate clearly whether the documents are authentic and whether the products concerned can be considered as products originating in the Parties and fulfil the other requirements of this Origin Reference Document.

6. If in cases of reasonable doubt there is no reply within 10 months of the date of the verification request or if the reply does not contain sufficient information to determine the authenticity of the document in question or the real origin of the products, the requesting competent authorities may, except in exceptional circumstances, refuse entitlement to the preferential tariff treatment.

{{ Article 29 }}
