1. For the purposes of verifying whether a product imported into a Party is originating in the other Party or whether the other requirements <!--of this Origin Reference Document//--> are satisfied, the customs authority of the importing Party may conduct a **verification based on risk assessment methods**, which may include random selection, by means of a request for information from the importer who made the claim<!-- referred to in Article 16//-->.

   The customs authority of the importing Party may conduct a verification either at the time of the customs import declaration, before the release of products, or after the release of the products.

2. The information requested pursuant to paragraph 1 shall cover no more than the following elements:

   1. if a **statement on origin** was the basis of the claim<!-- referred to in subparagraph 2(a) of Article 16//-->, that statement on origin;

   2. the **tariff classification number** of the product under **HS 2017** and origin criteria used;

   3. a brief description of the **production process**;

   4. if the origin criterion was based on a specific production process, a **specific description of that process**;

   5. if applicable, a **description of the originating and non-originating materials** used in the production process;

   6. if the origin criterion was "**wholly obtained**", the applicable category (such as harvesting, mining, fishing and place of production);

   7. if the origin criterion was based on a **value method**, the value of the product as well as the value of all the non-originating or, as appropriate to establish compliance with the value requirement, originating materials used in the production;

   8. if the origin criterion was **based on weight**, the weight of the product as well as the weight of the relevant non-originating or, as appropriate to establish compliance with the weight requirement, originating materials used in the product;

   9. if the origin criterion was based on a **change in tariff classification**, a list of all the non originating materials including their tariff classification number under HS 2017 (in two-, four- or six-digit format depending on the origin criteria); or

   10. the information relating to the compliance with the provision on non-alteration referred to in Article 10.

3. When providing the requested information, the importer may add **any other information** that it considers relevant for the purpose of verification.

4. If the claim for preferential tariff treatment was based on a **statement on origin**<!-- referred to in subparagraph 2(a) of Article 16//-->, the importer shall inform the customs authority of the importing Party when the requested information may be provided in full or in relation to one or more data elements by the exporter directly.

5. If the claim for preferential tariff treatment was based on the **importer's knowledge**<!-- referred to in subparagraph 2(b) of Article 16//-->, after having first requested information in accordance with paragraph 1, the customs authority of the importing Party conducting the verification may request information from the importer if that customs authority considers that additional information is necessary in order to verify the originating status of the product. The customs authority of the importing Party may request the importer for specific documentation and information, if appropriate.

6. If the customs authority of the importing Party decides to suspend the granting of preferential tariff treatment to the product concerned while awaiting the results of the verification, release of the product shall be offered to the importer subject to appropriate precautionary measures including guarantees. Any suspension of preferential tariff treatment shall be terminated as soon as possible after the originating status of the product concerned or the fulfilment of the other requirements of this Origin Reference Document has been ascertained by the customs authority of the importing Party.

{{ Article 21 }}
