<tr>
    <td
        style="width:85%;border-bottom:1px solid #ccc;vertical-align:top;padding-bottom:0.5em;padding-top:0.5em;padding-right:2em;font-family:Calibri,Arial,sans-serif;line-height:1.3em;">
        <span style='font-size:14px;color:#000'><%= worksheet.worksheet_name %></span><br>
        <span style='font-size:12px;color:#666'><%= worksheet.subtext %></span>
    </td>
    <td
        style="text-align:right;width:15%;border-bottom:1px solid #ccc;font-size:14px;vertical-align:top;padding-bottom:0.5em;padding-top:0.5em;font-family:Calibri,Arial,sans-serif;line-height:1.3em;">
        <%= worksheet.issue_count %>
    </td>
</tr>
