## Verification of Proofs of Origin

1. Subsequent verifications of proofs of origin shall be carried out at random or whenever the customs authorities of the importing country have reasonable doubts as to the authenticity of such documents, the originating status of the products concerned or the fulfilment of the other requirements of this Origin Reference Document.

2. For the purposes of implementing paragraph 1, the customs authorities of the importing country shall return the movement certificate EUR.1 or EUR-MED and the invoice, if it has been submitted, the invoice declaration or the invoice declaration EUR-MED, or a copy of these documents, to the customs authorities of the exporting country giving, where appropriate, the reasons for the request for verification. Any documents and information obtained suggesting that the information given on the proof of origin is incorrect shall be forwarded in support of the request for verification.

3. The verification shall be carried out by the customs authorities of the exporting country. For this purpose, they shall have the right to call for any evidence and to carry out any inspection of the exporter's accounts or any other check considered appropriate.

4. If the customs authorities of the importing country decide to suspend the granting of preferential treatment to the products concerned while awaiting the results of the verification, release of the products shall be offered to the importer subject to any precautionary measures judged necessary.

5. The customs authorities requesting the verification shall be informed of the results thereof as soon as possible. These results shall indicate clearly whether the documents are authentic and whether the products concerned may be considered as products originating in the United Kingdom, in Tunisia or in one of the other countries referred to in Articles 3 and 4 and fulfil the other requirements of this Origin Reference Document.

6. If in cases of reasonable doubt there is no reply within ten months of the date of the verification request or if the reply does not contain sufficient information to determine the authenticity of the document in question or the real origin of the products, the requesting customs authorities shall, except in exceptional circumstances, refuse entitlement to the preferences.

## Verification of Suppliers’ Declarations

1. Subsequent verifications of suppliers’ declarations or long-term suppliers’ declarations may be carried out at random or whenever the customs authorities of the country where such declarations have been taken into account to issue a movement certificate EUR.1 or to make out an invoice declaration, have reasonable doubts as to the authenticity of the document or the correctness of the information given in this document.

2. For the purposes of implementing paragraph 1, the customs authorities of the country referred to in paragraph 1 shall return the supplier's declaration and invoice(s), delivery note(s) or other commercial documents concerning goods covered by this declaration, to the customs authorities of the country where the declaration was made out, giving, where appropriate, the reasons of substance or form for the request for verification.

    They shall forward, in support of the request for subsequent verification, any documents and information that have been obtained suggesting that the information given in the supplier's declaration is incorrect.

3. The verification shall be carried out by the customs authorities of the country where the supplier's declaration was made out. For this purpose, they shall have the right to call for any evidence and carry out any inspection of the supplier's accounts or any other check which they consider appropriate.

4. The customs authorities requesting the verification shall be informed of the results thereof as soon as possible. These results shall indicate clearly whether the information given in the supplier's declaration is correct and make it possible for them to determine whether and to what extent this supplier's declaration could be taken into account for issuing a movement certificate EUR.1 or for making out an invoice declaration.

{{ Article 32 }}
