## Verification of proofs of origin

1. Subsequent verifications of proofs of origin shall be carried out at random or whenever the customs authorities of the importing Party have reasonable doubts as to the authenticity of such documents, the originating status of the products concerned or the fulfilment of the other requirements of this Origin Reference Document.

2. When they make a request for subsequent verification, the customs authorities of the importing Party shall return the movement certificate EUR.1 and the invoice, and, if it has been submitted, the origin declaration, or a copy of those documents, to the customs authorities of the exporting Party giving, where appropriate, the reasons for the request for verification. Any documents and information obtained suggesting that the information given on the proof of origin is incorrect shall be forwarded in support of the request for verification.

3. The verification shall be carried out by the customs authorities of the exporting Party. For that purpose, they shall have the right to call for any evidence and to carry out any inspection of the exporter’s accounts or any other check considered appropriate.

4. If the customs authorities of the importing Party decide to suspend the granting of preferential treatment to the products concerned while awaiting the results of the verification, release of the products shall be offered to the importer subject to any precautionary measures judged necessary.

5. The customs authorities requesting the verification shall be informed of the results thereof as soon as possible. Those results shall indicate clearly whether the documents are authentic and whether the products concerned may be considered as products originating in one of the Parties and fulfil the other requirements of this Origin Reference Document.

6. If in cases of reasonable doubt there is no reply within ten months of the date of the verification request or if the reply does not contain sufficient information to determine the authenticity of the document in question or the real origin of the products, the requesting customs authorities shall, except in exceptional circumstances, refuse entitlement to the preferences.

## Verification of supplier’s declarations

1. Subsequent verifications of supplier’s declarations or long-term supplier’s declarations may be carried out at random or whenever the customs authorities of a Party where such declarations have been taken into account to issue a movement certificate EUR.1 or to make out an origin declaration, have reasonable doubts as to the authenticity of the document or the correctness of the information given in that document.

2. For the purposes of implementing the provisions of paragraph 1, the customs authorities of the Party referred to in paragraph 1 shall return the supplier’s declaration or the long-term supplier’s declaration and invoice(s), delivery note(s) or other commercial document(s) concerning goods covered by such declaration, to the customs authorities of the other Party or the relevant country referred to in Annex VIII where the declaration was made out, giving, where appropriate, the reasons of substance or form of the request for verification.

    They shall forward, in support of the request for subsequent verification, any documents and information that have been obtained suggesting that the information given in the supplier’s declaration or the long-term supplier’s declaration is incorrect.

3. The verification shall be carried out by the customs authorities of the Party or the relevant country referred to in Annex VIII where the supplier’s declaration or the long-term supplier’s declaration was made out. For that purpose, they shall have the right to call for any evidence and carry out any inspection of the supplier’s accounts or any other check which they consider appropriate.

4. The customs authorities requesting the verification shall be informed of the results thereof as soon as possible. Those results shall indicate clearly whether the information given in the supplier’s declaration or the long-term supplier’s declaration is correct and make it possible for them to determine whether and to what extent such declaration could be taken into account for issuing a movement certificate EUR.1 or for making out an origin declaration.

{{ Articles 34 and 35 }}
