1. The customs authority of the importing Party may conduct a verification as to whether a product is originating or whether the other requirements are satisfied, on the basis of risk assessment methods, which may include random selection.

    Such verifications may be conducted by means of a request for information from the importer who made the claim, at the time the import declaration is submitted, before the release of the products, or after the release of the products.

2. The information requested pursuant to paragraph 1 shall cover no more than the following elements:

   1. if the claim was based on a statement on origin, that statement on origin; *and*

   2. information pertaining to the fulfilment of origin criteria, which is:

      1. where the origin criterion is “wholly obtained”, the applicable category (such as harvesting, mining, fishing) and the place of production;

      2. where the origin criterion is based on change in tariff classification, a list of all the non- originating materials, including their tariff classification (in 2, 4 or 6-digit format, depending on the origin criterion);

      3. where the origin criterion is based on a value method, the value of the final product as well as the value of all the non-originating materials used in the production of that product;

      4. where the origin criterion is based on weight, the weight of the final product as well as the weight of the relevant non-originating materials used in the final product;

      5. where the origin criterion is based on a specific production process, a description of that specific process.

3. When providing the requested information, the importer may add any other information that it considers relevant for the purpose of verification.

4. If the claim for preferential tariff treatment is based on a statement on origin, the importer shall provide that statement on origin but may reply to the customs authority of the importing Party that the importer is not in a position to provide the information referred to in point (b) of paragraph 2.

5. If the claim for preferential tariff treatment is based on the importer’s knowledge, after having first requested information in accordance with paragraph 1, the customs authority of the importing Party conducting the verification may request the importer to provide additional information if that customs authority considers that additional information is necessary in order to verify the originating status of the product or whether the other requirements of this Chapter are met. The customs authority of the importing Party may request the importer for specific documentation and information, if appropriate.

6. If the customs authority of the importing Party decides to suspend the granting of preferential tariff treatment to the product concerned while awaiting the results of the verification, the release of the products shall be offered to the importer subject to appropriate precautionary measures including guarantees. Any suspension of preferential tariff treatment shall be terminated as soon as possible after the customs authority of the importing Party has ascertained the originating status of the products concerned, or the fulfilment of the other requirements of this Chapter.

{{ Article 23 }}
